<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="container">

    <div class="{% block header_class%}slider{% endblock %}">

    {% block header%}
    {% include 'mainapp/includes/inc_header.html' %}
    {% endblock %}
    {% block bottom_of_header %}
    {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
    <div class="clr"></div>
</div>

{% block footer %}
{% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}
</body>
</html>